/*
Colors used

Background color (light Gray):#cbd1db;
Text Color (Dark Gray): #2b2b2b;
Primary Color (Tan): #C09F80;
Secondary Color (Blackboard): #565656;
 */





 :root{
   --primary-color: #357b70;
   --secondary-color: #D2B48C;
   --dark-grey: #2b2b2b;
   --background-color: #cbd1db;
   --font-weight: 400;
   --color: #2b2b2b;
   --font-size: 24px;
   --text-align: center;
 }

 a{
   color: var(--primary-color);
 }


*{
    box-sizing: border-box;
}

/* body all pages */
body {
  font-family: 'Staatliches', sans-serif;
  font-weight: $font-weight;
  background-color: $background-color;
  line-height: normal;

}

/* Hello World (index page)*/
h1{
  color: $color;
  text-align: $text-align;
  padding-bottom:

}

/* words on home and about*/
p{
  font-size: $font-size;
  text-align: $text-align;
}

/* Find me on (all pages)*/
footer p {
  font-size:  $font-size;
  font-weight: $font-weight;
  color: $color;
  padding-top: 20px;
}

/* all <a> with words*/
a{
  color: inherit;
  font-size:  $font-size;
}


/* hello world section may need to be removed */
div{
  font-size:  $font-size;
  color: $color;
  padding-top: 20px;
}

/* Skills Table (About page)*/
table{
  text-align: center;
  font-size:  $font-size;
  font-style:normal;
  float: none;
  line-height: normal;
  border-style: solid;
}

/* Twitter, LinkedIn, skype (all pages)*/
footer{
  text-align: $text-align;
  width: auto;
}

/* contact me boxes (contact page)*/
form{
  text-align: $text-align;
  border:;
  padding: 100px;
  font-size:  $font-size;
}



.standard-label{
  display: block;
}

.intro{
  text-align: left;
  color: $color;
  padding-left: 10px;
}

thead{
  color: $color;
}


div#address{
  padding-left: 30px;
}

/* the grid (work page) */
.grid{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
}

.grid__item{
  background-color: $background-color;
}

/* Grid fallback*/

.grid__item {
  display: inline-block;
  width: 33%;
}

/* Styling CSS grid*/

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: $background-color;
  padding: 10px;
  /* Set width to auto*/
  width: auto;
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}


/* profile picture (me)(index)*/
.profile__portrait{
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;

  border-radius: 50%;
  padding-top: 30px;
}

/* logo (all pages)*/
.page-header__item{
  position: relative;
  left: 20px;
  top: 15px;
  height: 100px;
}

.profile__footer{
  clear: both;
}

.profile{
  max-width: 700px;
  margin: 0 auto;

}

img{
  border-radius:;
  width: 3%;
  height: auto;
}

.page-header{
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item{
  flex: 0 1 200px;
}

.page-header :last-child{
  flex-grow: 1;
  text-align: right;
}

.navigation-list{
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

a:visited {
  /* visited link */
  color: inherit;
}

a:hover{
  /* no underlining when hovering over link*/
  text-decoration: none;
}

a:active {
  /* selected link */
  color: white;
}

/*Download my CV button (About Page)*/
.button1, button1 {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;

/* this pulled the picture to the center ??*/
float: left;
height: auto;
margin-right: 480px;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    background-color: #333; /* Modern Browsers */
}


.interest-list {
  text-align: $text-align;
  font-size:  $font-size;
  list-style-type: none;
}


/*sun color change*/
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

/* front cloud movement*/
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

/* back cloud movement*/
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}












/* media query*/
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

.grid__item:last-child {
  grid-column: 100px / auto;
  grid-row: auto / auto;
}

h1 {
  font-size: 24px;
}
